/* common css */
.primary-button{
    background-color: #FD6E0A;
    color: #fff;
    border-radius: 5px;
    border: 0;
}

.primary-color{
    color: #FD6E0A;
}
/* font styles */

body {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: 100;
}

/* navigation style */
nav{
    display: flex;
    justify-content: space-between;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-left: 51px;
}

.nav-title{
    color:black;
    font-size: 45px;

}

.hire-me{
    font-size: 20px;
    font-weight: bold;
    padding: 18px 35px;
}